<article>
    <p><%= post.text %></p>
    <div class="block">
        <p>Comments: <%= post.comments_counter %></p>
        <p>Likes: <%= post.likes_counter %></p>
    </div>
    <%= form_with model: @like, url:user_post_likes_path(user_id: post.author.id, post_id: post.id)  do |form|%>
      <%= form.submit "Like" %>
      <br/>
    <% end %>
    <button id="add_comment"><%= link_to 'Add comment', new_user_post_comment_path(user_id: post.author.id, post_id: post.id) %></button>
</article>