<body>
    <%= render "partials/user_container", user: @users_find %>
    <% @posts.each do |post| %>
        <%= link_to "/users/#{@users_find.id}/posts/#{post.id}" do %>
        <article>
        <h3>Post Title: <%= post.title %></h3>
        </article>
        <% end %>
        <%= render "partials/post_container", post: post %>
        <% post.recent_comments.each do |comment| %>
            <article class="comments-box">
            <%user = User.find_by(id: comment.author_id).name %>
            <p><strong><%=user%>: <%= comment.text %></strong></p>
        </article>
        <% end %>
        <% end %>
        <% (1..3).each do |page| %>
            <%= link_to page, user_posts_path(posts: page) %>
          <% end %>
</body>